extends layout

block content
  h1= title
  p Welcome to the #{title}, #{length}
  a(href='/auth/google') Login
  
  div(id='signinButton')
    span(
        class="g-signin",
        data-scope="https://www.googleapis.com/auth/plus.login",
        data-clientid="665881603618-9jhiev1pgun07mem6tb9emj903256e0j.apps.googleusercontent.com",
        data-redirecturi="postmessage",
        data-accesstype="offline",
        data-cookiepolicy="single_host_origin",
        data-callback="signInCallback")
  div(id="result")

  script.
    function signInCallback(authResult) {
      if (authResult.code) {
        $.post('/auth/google/callback', { code: authResult.code})
        .done(function(data) {
          $('#signinButton').hide();
        }); 
      } else if (authResult.error) {
        console.log('There was an error: ' + authResult.error);
      }
    };
